.Price {
  min-width: 230px;
  position: relative;
  padding-left: 20px;
  flex-basis: 22%;
}
.Price:after {
  content: "";
  display: block;
  width: 2px;
  height: 85.5%;
  min-height: 310px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.PriceHeader {
  color: white;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}
.TotalPriceWrap {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  min-height: 180px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.TotalPriceValueWrap {
  background: white;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.PriceValue {
  font-size: 34px;
  line-height: 34px;
  background: white;
  text-align: center;
  color: #403d3b;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}
.PriceValue i {
  font-size: 25px;
  line-height: 34px;
}
.PricePerWordValue {
  font-size: 14px;
  line-height: 14px;
  background: white;
  text-align: center;
  color: #403d3b;
  font-weight: 400;
  display: block;
}
.MwSt {
  font-size: 12px;
  text-align: right;
  color: grey;
  margin-top: 2px;
  padding-right: 2px;
  text-shadow: none;
  font-weight: 400;
  display: block;
  text-align: right;
}
.DiscountBtn span {
  cursor: pointer;
  display: block;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  background: #eb7d13;
  border-radius: 10px;
  height: 50px;
  color: white;
  margin-top: 25px;
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  line-height: 22px;
}
.DiscountBtn input {
  display: none;
}
.DiscountIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
.DiscountBtn input:checked ~ span {
  margin-top: 27px;
  background: #f1a65e;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}
.Time {
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.Icon {
  margin-right: 5px;
}
.SendBtn {
  animation: blinking 3s infinite;
  animation-timing-function: ease;
  font-weight: 400;
  background: #d83b0a;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  right: 0;
  width: 100%;
  min-width: 210px;
  margin-top: 5px;
  padding-right: 18px;
  position: relative;
}
.SendBtn span {
  font-size: 14px;
  line-height: 16px;
}
.SendBtn i {
  font-size: 30px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.DateItem {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 19px;
}
@keyframes blinking {
  0% {
    background: #eb7d13;
  }
  50% {
    background: #d83b0a;
  }
  100% {
    background: #eb7d13;
  }
}

@media (max-width: 900px) {
  .Price {
    padding-left: 0;
  }
  .Price:after {
    display: none;
  }
  .PriceHeader {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .DiscountBtn span {
    margin-top: 5px;
    font-size: 16px;
    line-height: 45px;
  }
}

@media (max-width: 500px) {
  .PriceHeader {
    margin-bottom: 10px;
  }
  .TotalPriceWrap {
    min-height: 130px;
  }

  .SendBtn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
