.MethodCheck {
  display: flex;
  margin-bottom: 10px;
}
.MethodCheck > div {
  outline: 1px solid rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}
.MethodCheck label {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  color: white;
  background: #f8f2ec;
  color: #6f6153;
}
.MethodCheck input[type="radio"] {
  display: none;
}

.MethodCheck input:checked ~ label {
  background: #eb7d13;
  color: white;
}
.Icon {
  margin-right: 5px;
  font-size: 20px;
}
@media (max-width: 1058px) {
  .MethodCheck label {
    padding: 7px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .MethodCheck label {
    padding: 5px;
    font-size: 14px;
  }
  .Icon {
    font-size: 14px;
  }
}
