.LangChangeSection {
  min-width: 210px;
  position: relative;
  padding-right: 20px;
  flex-basis: 20%;
}
.LangChangeSection:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}
.SelectContainer {
  display: flex;
}
.DeleteLang {
  font-size: 22px;
  line-height: 39px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  color: #d83b0a;
}
.Select {
  margin-bottom: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.LangChangeSectionNumb {
  text-align: left;
  padding-top: 0px;
  margin-bottom: 25px;
}
.LangChangeSectionNumb i {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background: white;
  border-radius: 50%;
  text-align: center;
}

.LangChangeSectionNumb span {
  padding-left: 8px;
  color: white;
}

.AddLangBtn {
  background: #eb7d13;
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.ArrowDown {
  color: white;
  font-size: 70px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .LangChangeSection {
    padding-right: 0;
  }
  .LangChangeSection:after {
    display: none;
  }
}

@media (max-width: 500px) {
  .LangChangeSectionNumb {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .ArrowDown {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .Select {
    margin-bottom: 10px;
  }
  .LangChangeSection {
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
}
