.Drag_zoneWrap {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.Drag_zoneLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}
.Drag_zoneLogo img {
  max-width: 100%;
  max-height: 100%;
}
.Drag_zone {
  border: 2px dashed #403d3b;
  width: 100%;
  height: 123px;
  outline: none;
  position: relative;
  padding: 2px 3px;
  box-sizing: border-box;
}
.isDragActive {
  border: 2px dashed red;
  width: 100%;
  height: 115px;
  outline: none;
  position: relative;
}
.isDragActive::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000000000000000000000000000;
}
.isDragActive::after {
  content: "put your file here";
  line-height: 80vh;
  text-transform: uppercase;
  font-size: 50px;
  color: black;
  position: fixed;
  width: 90%;
  height: 80vh;
  border: 2px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000000000000000000000000001;
}
.Drag_zoneList {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 115px;
  overflow: auto;
}
.Drag_zoneList li {
  background: #eb7d13;
  color: white;
  margin-bottom: 2px;
  padding: 0px 25px;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
  z-index: 20;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 17px;
  border-radius: 4px;
}
.Drag_zoneList li i {
  content: "";
  position: absolute;
  font-size: 15px;
  line-height: 20px;
  width: 20px;
  font-weight: 700;
  text-align: center;
  right: 5px;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: opacity 0.3s;
}
.Drag_zoneList li:hover i {
  opacity: 1;
}
.fileName {
  flex-basis: 75%;
  padding-right: 20px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.wordsCount {
  flex-basis: 25%;
  text-align: center;
}
.DownloadFilesMethodWordsRes {
  display: block;
  text-align: left;
  padding-top: 15px;
  font-size: 24px;
  color: white;
}
.ErrorMsg {
  border: 1px dashed #c32c2c;
  color: white;
  padding: 5px;
  padding-left: 50px;
  text-align: left;
  position: relative;
  margin-top: 10px;
}
.ErrorMsg i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #c32c2c;
}

@media (max-width: 500px) {
  .DownloadFilesMethodWordsRes {
    font-size: 17px;
  }
  .Drag_zone {
    height: 150px;
  }
  .Drag_zoneList {
    height: 150px;
  }
  .Drag_zoneList li i {
    opacity: 0.7;
  }
  .wordsCount {
    flex-basis: 13%;
  }
}
