.Methods {
  flex-grow: 1;
  min-height: 195px;
}
.MethodsWordsRes {
  display: block;
  text-align: left;
  padding-top: 11px;
  font-size: 24px;
  color: white;
}
.MethodsInputWrap {
  max-width: 200px;
  display: block;
  margin: auto;
}
.Drag_zone {
  width: 100%;
  height: 200px;
}
.Textarea {
  height: 139px;
}

@media (max-width: 500px) {
  .Methods {
    min-height: 209px;
  }
  .MethodsWordsRes {
    font-size: 17px;
  }
  .Textarea {
    height: 174px;
  }
}
