.WordsCounterSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.WordsCounterSectionNumb {
  text-align: left;
  padding-top: 20px;
  margin-bottom: 40px;
}
.WordsCounterSectionNumb i {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background: white;
  border-radius: 50%;
  text-align: center;
}

.WordsCounterSectionNumb span {
  padding-left: 8px;
  color: white;
}
