.OrderFormScreen {
  display: flex;
  flex-grow: 1;
  color: white;
}
.BackBtn {
  display: block;
  outline: none;
  border: none;
  background: #dd7a1a80;
  color: white;
  font-size: 17px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  padding: 4px 25px;
  padding-left: 10px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.ArrowLeft {
  margin-right: 5px;
}
.BackBtn:hover {
  opacity: 0.9;
}

@media (max-width: 900px) {
  .OrderFormScreen {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 35px;
  }
}
