.OrderFormScreen {
  display: flex;
  flex-grow: 1;
  color: white;
  margin-top: 20px;
}
.BackBtn {
  display: block;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  padding: 4px 25px;
  padding-left: 10px;
  border-radius: 5px;
}
.ArrowLeft {
  margin-right: 10px;
}
.BackBtn:hover {
  opacity: 0.9;
}
