.UserInfoSection {
  flex-basis: 70%;
  padding-left: 60px;
  padding-right: 30px;
  position: relative;
}
.UserInfoSection:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
.UserInfoSectionHeader {
  color: white;
  margin-bottom: 50px;
  margin-top: 0;
}
.InputLabel {
  max-width: 300px;
  display: block;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}
.InputLabel input {
  border-radius: 5px;
}
.FormInputContainer {
  display: flex;
}
.TextareaLabel {
  text-align: left;
  color: white;
  flex-grow: 1;
  padding-left: 20px;
}
.TextareaLabel textarea {
  border-radius: 5px;
}
.TextareaLabel span {
  text-align: left;
  display: block;
}
.Textarea {
  height: 147px;
  max-width: 600px;
  display: block;
}
.sendBtn {
  animation: blinking 3s infinite;
  animation-timing-function: ease;
  font-weight: 400;
  background: #d83b0a;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 16px;
  padding: 7px 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
.sendBtn span {
  font-size: 14px;
  line-height: 16px;
}

@keyframes blinking {
  0% {
    background: #eb7d13;
  }
  50% {
    background: #d83b0a;
  }
  100% {
    background: #eb7d13;
  }
}

@media (max-width: 900px) {
  .UserInfoSection {
    padding-left: 0;
    padding-right: 0;
  }
  .UserInfoSection:before {
    display: none;
  }
  .UserInfoSectionHeader {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .FormInputContainer {
    flex-direction: column;
  }
  .InputLabel {
    max-width: 100%;
  }
  .TextareaLabel {
    padding-left: 0;
  }
  .Textarea {
    height: 90px;
  }
  .sendBtn {
    width: 100%;
    margin-bottom: 25px;
  }
}
